[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amitkumar-calsoft
[access "refs/for/refs/*"]
	read = group user/amitkumar-calsoft
	push = group user/amitkumar-calsoft
	label-Code-Review = -2..+2 group user/amitkumar-calsoft
	label-Verified = -1..+1 group user/amitkumar-calsoft
	rebase = group user/amitkumar-calsoft
	removeReviewer = group user/amitkumar-calsoft
	submit = group user/amitkumar-calsoft
[access "refs/heads/*"]
	read = group user/amitkumar-calsoft
	create = group user/amitkumar-calsoft
	push = +force group user/amitkumar-calsoft
	pushMerge = group user/amitkumar-calsoft
[access "refs/tags/*"]
	push = +force group user/amitkumar-calsoft
	pushTag = group user/amitkumar-calsoft
	pushSignedTag = group user/amitkumar-calsoft
